{% extends 'base.html.twig' %}

{% block body %}
<style>
</style>


<h3 class="page-h3" style="text-align: center;">The next generation of libertarian thinkers, leaders, and advocates:</h3>
<h3 class="page-h3" style="text-align: center;">The Cato Institute Internship Program</h3>

<p align="center"><iframe src="https://www.youtube.com/embed/770Lngh1E1g" gesture="media" allow="encrypted-media" allowfullscreen="" width="560" height="315" frameborder="0"></iframe></p>

<p style="text-align: center;"><a href="http://www.cato.org/intern/application">Apply for a Cato Institute internship</a></p>

<p>Are you trying to begin a career in policy, communications, or law? Do you want a rich education in contemporary policy issues—and the philosophical, historic, and economic underpinnings of those issues? A Cato internship might be right for you.</p>

<p>Cato’s paid internships are for undergraduates, recent graduates, graduate students, law students, and early-career professionals who have a strong commitment to individual liberty, limited government, free markets, and peace—principles that, taken together, constitute libertarianism, known alternately as “classical liberalism,” “market liberalism,” or, to many of our international friends, just “liberalism.”</p>

<p>Most Cato interns work primarily as researchers for our policy scholars. Individual <a href="http://www.cato.org/intern/placements">department placements</a> include defense and foreign policy, healthcare policy, constitutional studies, and numerous others.</p>

<p>Other interns work in communications-oriented roles, including media relations, external affairs, and video production.</p>

<p>All Cato interns attend the same intensive seminar series, which covers a broad range of history, philosophy, policy, and professional development topics. Interns also assist with events and occasionally help Cato staff with other day-to-day needs.</p>

<p>Interns receive a stipend of $1000 per month. Interns who are in law school or who hold a JD receive a stipend of $1400 per month.</p>
{% endblock %}
