{% extends 'base.html.twig' %}

{% block title %}FAQ | Cato Institute Internships{% endblock %}

{% block body %}
<h1 id="page-title" class="page-h1">Frequently Asked Questions</h1>
    <dl>
        <dt>Have you received my application for an internship?</dt>
            <dd>Each semester we receive hundreds of applications. Please check your inbox for an e-mail from <a href="mailto:intern@cato.org">intern@cato.org</a> with the subject "Thank you for your internship application." You should have received it immediately after you submitted your application. If you received this e-mail, we have your application in our database.</dd>
        <dt>Have you received all the necessary information?</dt>
            <dd>Each semester we receive hundreds of applications. If our website allowed you to submit your application, our system worked, and we have captured all of the information we need.</dd>
        <dt>What if I have already received another offer? Can I be notified of Cato's decision before the notification date?</dt>
            <dd>Congratulations! The notification date, however, remains the same.</dd>
        <dt>Can I send my updated resume?</dt>
            <dd>There is no need to send a resume with your application. If we decide we want a resume from you, we will request one later in the process.</dd>
        <dt>Can I call with questions?</dt>
            <dd>You may call with questions, but if you do, please leave a voicemail with the spelling of your name, your phone number, your e-mail address, and your specific question. Please note: We prefer queries by e-mail so that we have all of your information in writing.</dd>
        <dt>I really want to be a Cato intern, but I'm not available for the entire time. Is that okay?</dt>
            <dd>If you are accepted as a Cato intern, we will cross that bridge when we come to it, but our very strong preference is to take only interns who can commit to a full-time internship for the entire semester.</dd>
        <dt>Can I extend my internship to longer than the allotted time slot?</dt>
            <dd>Unfortunately, no. Interns cannot repeat the internship program or extend it.</dd>
        <dt>Will I receive notification if I am not selected?</dt>
            <dd>Yes, Cato will notify all applicants.</dd>
        <dt>What is the stipend?</dt>
            <dd>
                <ul>
                    <li>$1000 a month paid biweekly.</li>
                    <li>Law students receive specific legal work as well as a higher stipend.</li>
                    <li>International interns are eligible for visa funding.</li>
                    <li>Part time internships are permitted in exceptional cases and part time interns receive a pro-rated stipend.</li>
                </ul>
            </dd>
    </dl>

{% endblock %}
