{% extends 'base.html.twig' %}

{% block title %}Intern Journals | Cato Institute Internships{% endblock %}

{% block body %}
<h1 class="page-h1" id="page-title">Journals</h1>
<p>While all Cato interns sit in the Cato intern room, share daily intern duties, help staff Cato events, and attend the research seminars and career development workshops, individual interns’ experiences vary by department assignment.</p>

<h2>A week in the life of a Cato intern</h2>

<h4>A Fiscal & Budget Policy Intern's Journal</h4>
    <p>My projects this week consisted of a number of things. I researched tax rates in Iceland, Hong Kong, and Mongolia for Dan Mitchell. For Stephen Slivinski, I compiled a list of farm subsidies directed at Fortune 500 companies. I also did a few small things for Chris Edwards such as finding reputable sources for a paper of his.</p>
    <p>I very much enjoyed Dr. Palmer's research seminar on political economy this week. I was particularly interested since I am attending grad school in that very subject next year. I also really enjoyed Gene Healy's seminar on logic and evidence. I'm saving the handout to utilize in the future when I'm writing papers in grad school.</p>
    <p>I finished Stephen Slivinski's book <em>Buck Wild</em>, which further sparked my interest in fiscal policy. I'm looking forward to reading more Cato books while I'm here.</p>

<h4>A Foreign & Defense Policy Intern's Journal</h4>
    <p><strong>Monday</strong><br>
    I went to the Library of Congress, looking for an English translation of an interview in the Arabic-language Ha'aretz newspaper. While there was no fruit to my labor (I eventually contacted the paper directly and they said it wasn't published in English until after the date I needed) it was still a good experience to become acquainted with the Library of Congress.</p>
    <p><strong>Tuesday</strong><br>
    I helped Justin Logan fill in a few holes in his Iran paper. I also worked the book forum on property rights, mainly eminent domain. I found the topic really interesting, and the question and answer session was particularly lively, with all the libertarians in the audience going after the pro-seizure lawyer.</p>
    <p><strong>Wednesday</strong><br>
    I learned a lot about law and econ from Peter Van Doren's seminar on regulatory economics. I helped Chris Preble with revisions to a paper on suicide terrorism for two hours in the afternoon.</p>
    <p><strong>Thursday</strong><br>
    I did research for Justin on naval mines, focusing in particular on Iran's capabilities and countermeasures the US Navy has developed. I also finished a three-week project compiling contact information for a mailing list (for sending out a policy analysis).</p>
    <p><strong>Friday</strong><br>
    I did some more research on naval mines and Iran's possible strategy in blockading the Strait of Hormuz. I also found a poll on Muslim attitudes towards Osama Bin Laden and the institution of a caliphate. I also looked up some Arabic words and figures on US military spending.</p>

<h4>A Government Affairs Intern's Journal</h4>
    <p><strong>Monday</strong></p><p>I delivered a few copies of the&nbsp;<em>Cato Policy Handbook</em>&nbsp;to staffers on Capitol Hill. I finished my spreadsheet of executive branch contact information. I enjoyed Jason Kuznicki's seminar on Tocqueville and Burke.</p><p><strong>Tuesday</strong></p><p>I helped assemble materials for 53 tote bags that several other interns and I will need to deliver to Capitol Hill next week. I am in the process of stuffing the materials into the tote bags. I also covered the front desk for an hour and began reading&nbsp;<em>Eco-nomics</em>&nbsp;for Jerry Taylor's seminar on Free Market Environmentalism next week.</p><p><strong>Wednesday</strong></p><p>I printed off 50 copies of an 18-page pre-testimony statement from Jim Harper to deliver to a congressional subcommittee in advance of his testimony to them Monday. Brink Lindsey's seminar on the&nbsp;<em>Age of Abundance</em>&nbsp;was my favorite one so far. I can't wait to read the book.</p><p><strong>Thursday</strong></p><p>I got up early to help with Dan Griswold's Capitol Hill briefing about the trade deficit. When I returned to Cato, I researched Real ID.</p><p><strong>Friday</strong></p><p>Today was a slow day for Government Affairs. There were no briefings or deliveries, so I just got caught up on reading the various Hill publications. I enjoyed the film&nbsp;<em>Dirty Pretty Things</em>. The discussion afterward was also stimulating. I liked the format, which allowed everyone to opine after organizing his or her thoughts.</p>

<h4>A Health Care Policy Intern's Journal</h4>
    <p>This week went really well. Between covering the front desk and delivering the newspapers on Tuesday, I probably spent about 2 hours on "designated intern" duties, but the following days involved almost no intern duties, so I think it balanced out.</p><p>I'm still preparing a memo summarizing a recent health policy conference. I finally finished reading all the conference papers yesterday.</p><p>I attended all of the research seminars this week. The persuasive writing seminar was informative. I need to start sending newspapers my opinion. The public speaking exercise was great! I'm mostly comfortable getting up in front of people and speaking when I've prepared in advance, but the extemporaneous style is brand new to me and definitely put me out of my comfort zone. It's all in good fun, and great to practice in front of friends in a laid-back atmosphere.</p><p>In healthcare policy events, I attended the Hill briefing on Thursday which covered the Massachusetts Health Plan. One of the speakers kept referring to the plan as "consumer choice", and perhaps I'm cynical, but I don't consider individual and employer mandates to be a "choice."</p><p>I also attended AEI's medical malpractice insurance studies seminar, which was interesting. It was a very enjoyable experience to hear people debate why malpractice tort reform is or is not needed, and the purpose of the laws and caps currently in place.</p>

<h4>A Media Intern's Journal</h4>
    <p><strong>Monday</strong></p><p>Spent most of my time compiling Cato Clips, summarizing citations of Cato scholars and articles. Mondays take longer because there are weekend stories as well. Enjoyed Tom Palmer's seminar on the history of the struggle for liberty.</p><p><strong>Tuesday</strong></p><p>Compiled Cato clips. Drafted my first pitch note. It was on the U.S. Secretary of Education's national strategy on higher ed. Also started the readings for Roger Pilon's seminar on the Limits and Purpose of Government.</p><p><strong>Wednesday</strong></p><p>Delivered the morning papers. Drafted a second pitch note on Wal-Mart's new coverage options for health care. Loved Mario Villarreal's seminar on public choice theory — I'd never really been exposed to it before.</p><p><strong>Thursday</strong></p><p>Compiled Cato clips. Attended the noon policy forum on foreign aid. Enjoyed the peer-to-peer public speaking workshop, but still need to stop fidgeting so much behind the podium.</p><p><strong>Friday</strong></p><p>Compiled Cato clips. Wrapped up the&nbsp;<em>Commanding Heights</em>&nbsp;series in this afternoon's film seminar and enjoyed the discussion.</p>
{% endblock %}
