<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cato Institute Internships{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="header">
            {% block header %}
                <div id="logo-container">
                    <img id="logo">
                </div>
                <nav id="parent-nav-container">
                    <ul id="parent-nav-top">
                        <li><a href="http://www.cato.org/research">RESEARCH</a></li>
                        <li><a href="http://www.cato.org/events">EVENTS</a></li>
                        <li><a href="http://www.cato.org/pubs/">PUBLICATIONS</a></li>
                        <li><a href="http://www.cato.org/commentary">COMMENTARY</a></li>
                        <li><a href="http://store.cato.org/">STORE</a></li>
                        <li class="left"><a href="http://www.cato.org/support">SUPPORT</a></li>
                    </ul>
                    <ul id="parent-nav-bottom">
                        <li><a href="http://www.cato.org/about">About Cato</a></li>
                        <li><a href="http://www.cato.org/blog">Blog</a></li>
                        <li><a href="http://www.cato.org/people/policy-scholars">Our Experts</a></li>
                        <li><a href="http://www.cato.org/projects">Our Centers</a></li>
                        <li><a href="http://www.facebook.com/CatoInstitute" rel="me" target="_blank"><span class="sprite-facebook"></span>Facebook</a></li>
                        <li class="last"><a href="http://twitter.com/catoinstitute" rel="me" target="_blank"><span class="sprite-twitter"></span>Twitter</a></li>
                    </ul>
                </nav>
            {% endblock %}
        </div>
        <section id="page-area">
            <h1 class="section-title">Internships</h1>
            <div class="intern-nav-container">
                <ul id="intern-nav">
                    <li><a href="#">Application</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About></a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Placement</a></li>
                    <li><a href="#">Journals</a></li>
                    <li><a href="#">Directions</a></li>
                </ul>
            </div>
            {% block body %}{% endblock %}
        </section>
        <div class="footer">
            {% block footer %}
                <aside id="address">
                    <a href="https://www.cato.org"><img></a>
                    <p>
                        Cato Institute
                        <br>1000 Massachusetts Ave, NW
                        <br>Washington, DC 20001-5403
                    </p>
                    <p>
                        Phone (202) 842 0200
                        <br>Fax (202) 842 3490
                    </p>
                    <p><a href="">Contact Us</a></p>
                    <p><a href="">Media Contact</a></p>
                </aside>
                <aside id="social-media">
                    <h3 class="section-h3">Social Media</h3>
                    <ul class="menu">
                        <li class="first leaf"><a href="http://www.facebook.com/CatoInstitute" rel="me" class="link-facebook" target="_blank"><span class="sprite sprite-facebook"></span> Facebook</a></li>
                        <li class="leaf"><a href="http://twitter.com/catoinstitute" rel="me" class="link-twitter" target="_blank"><span class="sprite sprite-twitter"></span> Twitter</a></li>
                        <li class="leaf"><a href="https://plus.google.com/+TheCatoInstitute" rel="me" class="link-googleplus" target="_blank"><span class="sprite sprite-google"></span> Google+</a></li>
                        <li class="leaf"><a href="http://www.youtube.com/catoinstitutevideo" rel="me" class="link-youtube" target="_blank"><span class="sprite sprite-youtube"></span> YouTube</a></li>
                        <li class="last leaf"><a href="http://www.cato.org/ecommunity" class="link-rss"><span class="sprite sprite-rss"></span> RSS</a></li>
                    </ul>
                </aside>
                <aside id="also">
                    <h3 class="section-h3">Also from Cato</h3>
                    <ul class="menu">
                        <li class="first leaf"><a href="http://www.cato.org/students" rel="me">Student Programs</a></li>
                        <li class="leaf"><a href="https://www.downsizinggovernment.org/" rel="me" target="_blank">DownsizingGovernment.org</a></li>
                        <li class="leaf"><a href="https://www.libertarianism.org/" rel="me" target="_blank">Libertarianism.org</a></li>
                        <li class="leaf"><a href="http://humanprogress.org/" rel="me" target="_blank">HumanProgress.org</a></li>
                        <li class="leaf"><a href="https://www.cato-unbound.org/" rel="me" target="_blank">Cato Unbound</a></li>
                        <li class="leaf"><a href="http://www.policemisconduct.net/" rel="me" target="_blank">PoliceMisconduct.net</a></li>
                        <li class="leaf"><a href="http://overlawyered.com/" rel="me" target="_blank">Overlawyered</a></li>
                        <li class="leaf"><a href="http://www.elcato.org/" rel="me" target="_blank">ElCato.org</a></li>
                        <li class="last leaf"><a href="http://www.alt-m.org/" rel="me" target="_blank">Alt-M</a></li>
                    </ul>
                </aside>
                <aside id="signup">
                    <h3 class="section-h3">Sign Up</h3>
                    <!-- Placeholder: MailChimp signup form goes here -->
                </aside>
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
